@import './vars.css';

body{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Comfortaa';
  color: #000000;/*505c5f*/
}

h1, h2, h3, h4, h5, h6, strong{
  font-weight: bold;
  color: #000000;
}

h1{
  font-size: 53px;
}

input:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.about{
  background: #e4e9d6;
}

.slider-block {
  background: rgb(41,63,80);
  background: linear-gradient(135deg, rgba(41,63,80,1) 35%, rgba(76,120,163,1) 100%);
}

.slide {
  width: 100%;
}

.norden-navbar{
  position: fixed;
  width: 100%;
  padding: 15px 15px !important;
  top: 0;
  /* background-color: #649cc4 !important; */
  /* background-image: linear-gradient( -74deg,#23afbb 0%,#296dbf var(--hero-bg-gradient-x,50%),#306bc5 100% ); */
  box-shadow: 0 9px 60px 0 rgba(0,0,0,.3);
  background-image: linear-gradient( -74deg,#ffffff 0%,#ffffff var(--hero-bg-gradient-x,50%),#ffffff 100% );
  /* box-shadow: 0 9px 60px 0 var(--color-bg-shadow-heavy); */
  padding: 22px 0;
  z-index: 53;
  padding: 25px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-text a{
  margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link{
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 .5rem;
}

.navbar-light .navbar-brand{
  width: 156px;
}

.sticky {
  padding: 5px 0;
}

/* #gatsby-focus-wrapper {
  padding-top: 55px;
} */

.contact-header{
  padding: 5rem 0;
  background: #3d4052;
  color: #ffffff;
}

.contact-header h1{
  color: #ffffff;
  margin-bottom: 30px;
}

.contact figure{
  margin: 5px;
}

.figure-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px){
  .figure-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.footer{
  /* border-top: 1px solid #f1f1f1; */
  color: #ffffff;
  font-size: 1rem;
}

.footer .footer-top {
  font-size: 33px;
  font-weight: bold;
  color: #ffffff !important;
}

.footer a{
  font-size: 1rem;
  text-decoration: none;
  color: #649cc4;
}

.footer a:hover{
  text-decoration: none;
  color: #649cc4;
}

.footer-top{
  background: #252838;
}
.footer-top a{
  color: #f58572 !important;
}
.footer-top a:hover{
  color: #f58572 !important;
  text-decoration: underline !important;
}
.footer-top p{
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: normal;
}
.footer-top a{
  display: block;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: normal;
  text-decoration: none;
  color: #649cc4;
}
.footer-social a{
  color: #ffffff !important;
}
.footer-social a:hover{
  color: #91929a !important;
}
.footer-social{
  display: flex;
  max-width: 300px;
  justify-content: space-between;
}

.footer-social .footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 62px;
  height: 62px;
  border-radius: 100%;
}

.footer-social .footer-icon:hover {
  color: #91929a;
  border: 2px solid #91929a;
}

.footer-bottom{
  background-color: #4d5061;
  color: #e8e8e8;
  font-size: 12px;
  padding: 20px 0;
}

.footer-bottom a{
  font-size: 12px;
  color: #a5a6ab;
}

.footer-bottom a:hover{
  color: #8a8c94;
}

.scrollTop{
  position: fixed;
  bottom: -200px;
  right: 10px;
  background: #649cc4;
  border: 1px solid #649cc4;
  color: #ffffff;
  border-radius: 8px;
  padding: 12px 20px;
  opacity: .8;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 5;
}
.show{
  bottom: 85px;
}

.scrollTop:focus{
  outline: none;
}

.slick-slider, 
.slick-slider h1, 
.slick-slider h3 {
  color: #ffffff;
  outline: none;
}

.slick-slider h1 {
  font-size: 2.8rem;
} 
.slick-slider h2 {
  font-size: .8rem;
  font-weight: normal !important;
} 

.slick-slider .row,
.slick-slider .slide,
.slick-track {
  outline: none;
}

/* .sliderContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideWrap{
  width: 266px;
  height: 523px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderFrame{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 266px;
  height: 523px;
  z-index: 5;
}

.sliderContainer img{
  width: 256px;
  height: 503px;
  border-radius: 30px;
  margin: 0 auto 0;
} 

 .slick-slider{
  position: absolute;
  width: 256px;
  height: 503px;
  border-radius: 30px;
  overflow: hidden;
} */

.kunder-bg{
  background-color: #edf1f2;
}

.fleksibel-bg,
.service-block{
  background-color: #eaf0dc;
}

.service-block h1{
  padding: 20px 0;
}

.cases-block{
  background-color: #cbc2af;
  color: #ffffff;
}

.cases-block h1{
  color: #ffffff;
}

.cases-block h4 a{
  color: #ffffff;
  margin: 20px 0;
  display: block;
  font-weight: bold;
}

.cases-block h4 a:hover{
  text-decoration: none;
}

.cases-block img{
  width: 290px;
}

.nordenSoftForm input,
.nordenSoftForm textarea{
  background-color: #edf1f2;
  color: #495057;
  font-size: 14px;
}
.nordenSoftForm input{
  height: 46px;
  border-radius: 30px;
}
.nordenSoftForm textarea{
  height: 150px;
}
.nordenSoftForm button{
  border-radius: 30px !important;
  border: #2c3e50;
  background-color: #2c3e50;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  height: 46px;
  padding: 12px 22px;
}
.nordenSoftForm button:hover{
  border-radius: 30px !important;
  border: #2c3e50;
  background-color: #2c3e50;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  height: 46px;
  padding: 12px 22px;
  color: #ffffff!important;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  background-color: #2c3e50;
  border-color: transparent;
}

/* #####################
*   Float Form Css
######################## */
.float-form {
  left: auto;
  bottom: -590px;
  top: auto;
  right: 10px;
  width: 414px;
  height: auto;
  background: #ffffff;
  position: fixed;
  box-shadow: 1px 0 2px 0 rgba(0,0,0,.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 15;
}

@media screen and (max-width: 768px){
  .float-form {
    left: 10px;
    top: auto;
    right: 10px;
    width: auto;
  }
}

.float-form-button {
  left: auto;
  bottom: -75px;
  top: auto;
  right: 10px;
  padding: 10px;
  margin: 0px;
  width: 65px;
  height: 65px;
  border-radius: 1px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #4fcac2;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 0 2px 0 rgba(0,0,0,.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 16;
}

.show-float-form{
  bottom: 10px;
}

.float-form-button strong {
  color: #ffffff;
}
.float-form-head{
  height: 175px;
  width: 100%;
  background-color: #a5a6ab;
  overflow: hidden;
}

.float-form-head img {
  width: 100%;
}

.float-form-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 34px;
  line-height: 1;
  color: #4f4f4e;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}
.float-form-close:focus{
  outline: none;
}

.float-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}

.float-form-content p {
  text-align: center;
  font-size: 12px;
}

.float-form form {
  width: 100%;
}

.float-form form input {
  border-radius: 2px;
  height: 36px;
  width: 100%;
  color: rgb(198, 198, 198);
  border-width: 0px;
  border-color: rgb(221, 221, 221);
  border-style: solid;
  background-color: rgb(243, 243, 243);
  font-size: 12px;
  padding: 8px 12px;
  margin-bottom: 12px;
}

.float-form form input::placeholder{
  color: rgb(198, 198, 198);
}

.float-form form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 36px;
  width: 100%;
  color: #ffffff;
  background: #4fcac2;
  font-size: 12px;
  outline: none;
  box-shadow: 1px 0 2px 0 rgba(0,0,0,.2);
}

.float-form form button:focus,
.float-form form button:hover{
  color: #ffffff !important;
}

/* #####################
*   Magento Page Css
######################## */
#magento h1{
  font-size: 2rem;
}

/* #####################
*   services Page Css
######################## */
.services h1{
  font-size: 2rem;
}

/* #####################
*   JAMStack Page Css
######################## */

.services .letter-definition{
   margin-bottom: 30px !important;
}

.jamstack h1 {
  font-size: 32px;
  line-height: 53px;
}

.jamstack .intro h1:first-child {
  margin-bottom: 50px;
}

.jamstack strong {
  color: #00c7b7;
}

@media screen and (min-width: 768px){
  .jamstack .letter-definition:not(:last-child) {
      margin-bottom: -64px;
  }
}

.jamstack .letter-definition {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  margin: auto;
  max-width: 960px;
  text-align: left;
}

@media screen and (max-width: 768px){ 
  .jamstack .letter-definition{
    flex-direction: column;
  }
  .letter-definition img {
    max-width: 60%;
  }
}

.jamstack .letter-definition .definitin-content {
  padding-left: 30px;
}

.disqualifications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.disqualification {
  background: url('https://d33wubrfki0l68.cloudfront.net/a2d014a85df45cdacc5364873fb3cb86c5222d93/57a0e/img/x.svg') no-repeat top left;
}

@media screen and (max-width: 768px) {
  .disqualification {
    padding-left: 58px;
  }
}

@media screen and (min-width: 768px) {
  .jam-disqualifications .disqualification, .jam-disqualifications .qualification {
      background-position: top left;
      background-size: 40px;
      font-size: 16px;
      line-height: 32px;
      margin: 0 0 24px 0;
      padding: 0 0 0 64px;
      width: 48%;
  }
}

.advantages .advantages-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 768px){
  .advantages .advantage {
      width: 50%;
  }
  .advantages .advantage:nth-child(odd) {
    padding: 0 3% 0 0;
  }
}


.blog-grids {
  overflow: hidden;
  margin: 0 -15px;
}

.blog-grids .grid {
  background-color: #fff;
  width: calc(33.33% - 30px);
  float: left;
  padding: 15px;
  margin: 20px 15px 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.entry-media img {
  border-radius: 10px;
  width: 100%;
  max-height: 188px;
}

.entry-body {
  padding: 27px 10px;
}

.entry-body .cat {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #6220d9;
  text-transform: uppercase;
}

.entry-body h3 {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.30em;
  margin: 3px 0 0.73em;
}

.entry-body h3 a {
  color: #41516a;
}

.entry-body h3 a:hover {
  color: #6220d9;
  text-decoration: none;
}

.entry-body p {
  margin-bottom: 2em;
  color: #90949a;
  line-height: 1.8em;
}

.read-more-date {
  position: relative;
}

.read-more-date a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 1.06667rem;
  font-weight: 600;
  color: #41516a;
  text-transform: uppercase;
}

.read-more-date .date {
  position: absolute;
  right: 0;
  color: #90949a;
}

